.sidebar {
  position: fixed;
  width: 10%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  direction: rtl;
}

.item {
  color: white;
  font-size: 12px;
  text-align: right;
  padding: 12px 10px;
  cursor: pointer;
}

.item:hover {
  border: 1px solid #603daa;
}

.active {
  background-color: #271353;
}